In [2]:
from pyspark.sql import SparkSession

In [18]:
# Create a SparkSession
spark = SparkSession.builder \
    .appName("SparkSQLApp") \
    .master("local[4]") \
    .getOrCreate()

# Access SparkContext from SparkSession
sc = spark.sparkContext

In [37]:
spark_ui_url = sc.uiWebUrl
print(f"Spark UI is available at: {spark_ui_url}")

Spark UI is available at: http://LAPTOP-1DNSHCL1:4040

In [16]:
try:
    # Read the CSV file
    csv_df = spark.read.csv("C:/Users/Vishal/spark-pyspark/data/annual-enterprise-survey-2023-financial-year-provisional.csv", header=True, inferSchema=True) #dataframe

    csv_df.createOrReplaceTempView("t1")

    result = spark.sql("SELECT count(*) FROM t1 LIMIT 10")

    result2 = spark.sql("select count(distinct Variable_name) from t1 /*order by year*/ limit 200;")

    csv_df.show(5)
    # print(csv_df.printSchema())
    print(type(csv_df))
    print(type(result))
    # Show the result
    # result.show()
    # result2.show()

except Exception as e:
    print(f"Error: {e}")

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category| Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|930995|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|821630|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H05|Interest, dividen...|Financial perform...| 84354|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H07|Non-operating income|Financial perform...| 25010|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H08|   Total expenditure|Financial perform...|832964|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
only showing top 5 rows

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
try:

    # JSON_df = spark.read.json("C:/Users/Vishal/spark-pyspark/JSON_4_Analysis.json") # This will not work as the JSON file is not in the correct format
    # JSON_df = spark.read.json(r"C:\Users\Vishal\spark-pyspark\JSON_4_Analysis.json")
    JSON_df = spark.read.option("multiLine", True).json("C:/Users/Vishal/spark-pyspark/data/JSON_4_Analysis.json")
    NESTED_JSON_df = spark.read.option("multiLine", True).json("C:/Users/Vishal/spark-pyspark/data/Nested_JSON.json")

    # NESTED_JSON_df.printSchema() 
    # NESTED_JSON_df.show(truncate=False)

    # JSON_df.printSchema()  
    # JSON_df.show(3,truncate=False, vertical=True)

    # exploded_df = NESTED_JSON_df.selectExpr("name", "topping", "explode(batters.batter.id) as batter_id")
    # exploded_df.show(truncate=False)

    # print(type(JSON_df))
    # JSON_df.select("name", "bio").show(3)

except Exception as e:
    print(f"Error: {e}")

+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+---------+
|name         |topping                                                                                                                                  |batter_id|
+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+---------+
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1001     |
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1002     |
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1003     |
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1004     |
|Raised       |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5003, Chocolate}, {5004, Maple}]                                                          |1001     |
|Old Fashioned|[{5001, None}, {5002, Glazed}, {5003, Chocolate}, {5004, Maple}]                                                                         |1001     |
|Old Fashioned|[{5001, None}, {5002, Glazed}, {5003, Chocolate}, {5004, Maple}]                                                                         |1002     |
+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+---------+

In [27]:
# Stop the Spark context
spark.stop()