In [70]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [30]:
# Create a SparkSession
spark = SparkSession.builder \
    .appName("SparkSQLApp") \
    .master("local[4]") \
    .getOrCreate()

# Access SparkContext from SparkSession
sc = spark.sparkContext

In [37]:
spark_ui_url = sc.uiWebUrl
print(f"Spark UI is available at: {spark_ui_url}")

Spark UI is available at: http://LAPTOP-1DNSHCL1:4040

In [78]:
try:
    # Read the CSV file
    csv_df = spark.read.csv("C:/Users/Vishal/spark-pyspark/data/annual-enterprise-survey-2023-financial-year-provisional.csv", header=True, inferSchema=True) #dataframe

    csv_df.createOrReplaceTempView("t1")

    result = spark.sql("SELECT count(*) FROM t1 LIMIT 10")

    result2 = spark.sql("select count(distinct Variable_name) from t1 /*order by year*/ limit 200;")

    # csv_df.select("Year", "year").show() #column name is not case sensitive and can use select funtion to select the column

    # csv_df.withColumnRenamed("year", "year1").show(1) #rename the column name just while displaying the data

    # csv_df.printSchema() #print the schema of the dataframe or table structure

    # csv_df.filter((col("year") > 2022) & (col("Industry_code_NZSIOC") == 99999)).show(10) #filter the data based on the condition

    # csv_df.groupBy("year","Industry_code_NZSIOC").count().show() #group the data based on the column

    # csv_df.groupBy("year").agg({"Industry_code_NZSIOC": "count"}).show() #group the data based on the column and aggregate the data

    # csv_df.filter((col("year") == 2022) & (col("Industry_code_NZSIOC") == 99999)).groupBy("year", "Industry_code_NZSIOC").count().show() #filter the data based on the condition and group the data based on the column
    
    # csv_df.filter(col("year") == 2023).groupBy("year").pivot("Industry_code_NZSIOC").count().show() #pivot the data based on the column
    
    csv_df = csv_df.withColumn("Value", col("Value").cast("int"))

    # csv_df.filter(col("year") == 2023).groupBy("year").pivot("Industry_code_NZSIOC").sum("Value").show() #pivot the data based on the column and sum the data
    
    # csv_df.sort("year").show(5)
    # csv_df.sort(col("year").desc()).show(5) #sort the data based on the column

    # csv_df.sort("year", "Industry_code_NZSIOC").show(5)

    # csv_df.sort(col("year").desc(), col("Industry_code_NZSIOC").desc()).show(5) #sort the data based on the column

    # csv_df.groupBy("year").agg(count("*"), avg("Value"), sum("value")).show()#group the data based on the column and aggregate the data

    # csv_df.groupBy("year").agg({"Value": "sum"}).show() #group the data based on the column and aggregate the data

    # csv_df.groupBy("year").agg({"Value": "sum"}).sort("year").show() #group the data based on the column and aggregate the data

    # csv_df.groupBy("year").agg({"Value": "sum"}).sort(col("year").desc()).show() #group the data based on the column and aggregate the data

    # csv_df.groupBy("year").agg({"Value": "sum"}).sort("year", "Value").show() #group the data based on the column and aggregate the data

    #print the data in order where most number of null or nan values are present in a row ? 

    # csv_df.filter(col("Value").isNull() | isnan(col("Value"))).show(3)

    # csv_df.na.drop().show() #drop the rows where any of the column has null or nan values
    
    # csv_df.na.drop(subset=["Value"]).show() #drop the rows where the specific column has null or nan values   

    # csv_df.na.fill(0).show() #fill the null or nan values with 0

    # csv_df.na.fill("unknown").show() #fill the null or nan values with unknown

    # csv_df.na.fill({"Value": 0}).show() #fill the null or nan values with 0

    # csv_df.replace("unknown", "NA", subset=["Year"]).show()


    # csv_df.select("Year").distinct().show() #distinct values in the column

    # csv_df.distinct().show(10)

    # print(csv_df.distinct().count())

    # csv_df.dropDuplicates().show() #drop the duplicate rows

    # csv_df.dropDuplicates(["Year"]).show() #drop the duplicate rows based on the column

    # csv_df.dropDuplicates(["Year", "Industry_code_NZSIOC"]).show() #drop the duplicate rows based on the column

    #parse date and pick parts of the date

    # csv_df.select("Year", year("Year"), month("Year"), dayofmonth("Year"), dayofyear("Year"), weekofyear("Year")).show()





    # csv_df.show(5)
    csv_df.printSchema().show()
    # print(type(csv_df))
    # print(type(result))
    # Show the result
    # result.show()
    # result2.show()

except Exception as e:
    print(f"Error: {e}")

root
 |-- Year: integer (nullable = true)
 |-- Industry_aggregation_NZSIOC: string (nullable = true)
 |-- Industry_code_NZSIOC: string (nullable = true)
 |-- Industry_name_NZSIOC: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Variable_code: string (nullable = true)
 |-- Variable_name: string (nullable = true)
 |-- Variable_category: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- Industry_code_ANZSIC06: string (nullable = true)

Error: 'NoneType' object has no attribute 'show'

In [ ]:
try:

    # JSON_df = spark.read.json("C:/Users/Vishal/spark-pyspark/JSON_4_Analysis.json") # This will not work as the JSON file is not in the correct format
    # JSON_df = spark.read.json(r"C:\Users\Vishal\spark-pyspark\JSON_4_Analysis.json")
    JSON_df = spark.read.option("multiLine", True).json("C:/Users/Vishal/spark-pyspark/data/JSON_4_Analysis.json")
    NESTED_JSON_df = spark.read.option("multiLine", True).json("C:/Users/Vishal/spark-pyspark/data/Nested_JSON.json")

    # NESTED_JSON_df.printSchema() 
    # NESTED_JSON_df.show(truncate=False)

    # JSON_df.printSchema()  
    # JSON_df.show(3,truncate=False, vertical=True)

    # exploded_df = NESTED_JSON_df.selectExpr("name", "topping", "explode(batters.batter.id) as batter_id")
    # exploded_df.show(truncate=False)

    # print(type(JSON_df))
    # JSON_df.select("name", "bio").show(3)

except Exception as e:
    print(f"Error: {e}")

+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+---------+
|name         |topping                                                                                                                                  |batter_id|
+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+---------+
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1001     |
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1002     |
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1003     |
|Cake         |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|1004     |
|Raised       |[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5003, Chocolate}, {5004, Maple}]                                                          |1001     |
|Old Fashioned|[{5001, None}, {5002, Glazed}, {5003, Chocolate}, {5004, Maple}]                                                                         |1001     |
|Old Fashioned|[{5001, None}, {5002, Glazed}, {5003, Chocolate}, {5004, Maple}]                                                                         |1002     |
+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+---------+

In [28]:
# Stop the Spark context
spark.stop()